<a href="https://colab.research.google.com/github/HWANG-HOE-SUN/Univ.Project/blob/main/%20MCR_%EB%B6%84%EC%84%9D/MCR%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import datetime
import time

In [6]:
folder = '/content/gdrive/MyDrive/MCR데이터'

In [7]:
file_list = os.listdir(folder)
file_list

['2019년 소비자행태조사 원시데이터_문항,보기.xlsx',
 '2019년 소비자행태조사 원시데이터_답변.csv']

In [8]:
file_name = []
for file in file_list:
  name = folder+'/'+file
  file_name.append(name)

In [47]:
# 원본 항목, 답변
mcr_raw_quest = pd.read_excel(file_name[0])
mcr_raw_answer = pd.read_csv(file_name[1])
# 항목 설명 정보
mcr_raw_info = pd.read_excel(file_name[0],sheet_name='보기정보')

mcr_raw_quest.head(3), print('\n'), mcr_raw_answer.head(3), print('\n'), mcr_raw_info.head(3)

(    항목ID      항목명  항목분류 항목유형            항목설명
 0   YEAR     조사년도  DEMO   단수            <없음>
 1  A_001       성별  DEMO   단수  귀하의 성별은 무엇입니까?
 2  A_002  연령(10대)  DEMO   단수  귀하의 연령은 무엇입니까?,
 None,
    YEAR  A_001  A_002  A_003  ...  K_05_015#7  K_05_015#8  K_05_015#9  K_05_015#10
 0  2019      1      1     14  ...         NaN         NaN         NaN          NaN
 1  2019      1      1     14  ...         NaN         NaN         NaN          NaN
 2  2019      1      1     14  ...         NaN         NaN         NaN          NaN

 [3 rows x 3624 columns],
 None,
    항목ID  항목코드  항목코드명
 0  YEAR  2001  2001년
 1  YEAR  2002  2002년
 2  YEAR  2003  2003년)

In [10]:
mcr_raw_answer.describe()

         YEAR        A_001        A_002  ...  K_05_015#8  K_05_015#9  K_05_015#10
count  4000.0  4000.000000  4000.000000  ...    9.000000         5.0          0.0
mean   2019.0     1.494500     3.666500  ...    8.444444         9.0          NaN
std       0.0     0.500032     1.540413  ...    0.527046         0.0          NaN
min    2019.0     1.000000     1.000000  ...    8.000000         9.0          NaN
25%    2019.0     1.000000     2.000000  ...    8.000000         9.0          NaN
50%    2019.0     1.000000     4.000000  ...    8.000000         9.0          NaN
75%    2019.0     2.000000     5.000000  ...    9.000000         9.0          NaN
max    2019.0     2.000000     6.000000  ...    9.000000         9.0          NaN

[8 rows x 3624 columns]

In [11]:
mcr_raw_quest.groupby(['항목분류']).count()

                             항목ID  항목명  항목유형  항목설명
항목분류
DEMO                           18   18    18    18
기타>나쁜광고                        56   56    56    56
기타>소비자경제동향                     15   15    15    15
라이프스타일>심리적 태도                  90   90    90    90
라이프스타일>여가활동                    96   96    96    96
...                           ...  ...   ...   ...
제품>패스트푸드/프랜차이즈>햄버거/샌드위치 전문점    31   31    31    31
제품>화장품/향수/여성용품>남성기초화장품         31   31    31    31
제품>화장품/향수/여성용품>미용종합            12   12    12    12
제품>화장품/향수/여성용품>뷰티 디바이스         30   30    30    30
제품>화장품/향수/여성용품>여성용기초화장품        31   31    31    31

[108 rows x 4 columns]

### raw_quest(질문 항목) 제품별 분류

In [48]:
import copy
mcr_raw_quest_copy = copy.deepcopy(mcr_raw_quest) # 별도의 새로운 객체 생성

In [49]:
mcr_raw_quest_copy['제품항목여부'] = mcr_raw_quest_copy.항목분류.apply(lambda x: 1 if '제품' in x else 0)

In [50]:
mcr_raw_quest_copy['제품항목여부'] = mcr_raw_quest_copy.항목설명.apply(lambda x: 1 if '제품' in x else 0)

In [51]:
jepum_quests = mcr_raw_quest_copy[mcr_raw_quest_copy['제품항목여부']==1]
jepum_quests

          항목ID  ... 제품항목여부
350   C_01_019  ...      1
351   C_01_020  ...      1
352   C_01_021  ...      1
353   C_01_022  ...      1
354   C_01_023  ...      1
...        ...  ...    ...
3539  J_31_005  ...      1
3540  J_31_006  ...      1
3541  J_31_007  ...      1
3546  J_32_004  ...      1
3549  J_32_007  ...      1

[331 rows x 6 columns]

In [52]:
jepum_quests_id = jepum_quests.항목ID
jepum_quests_id

350     C_01_019
351     C_01_020
352     C_01_021
353     C_01_022
354     C_01_023
          ...
3539    J_31_005
3540    J_31_006
3541    J_31_007
3546    J_32_004
3549    J_32_007
Name: 항목ID, Length: 331, dtype: object

In [53]:
jepum_answers = mcr_raw_answer[list(jepum_quests_id)]
jepum_answers

      C_01_019  C_01_020  C_01_021  ...  J_31_007  J_32_004  J_32_007
0            6         6         6  ...         2         2         2
1            3         4         2  ...         2         1         3
2            5         4         5  ...         2         2         3
3            2         2         2  ...         2         2         3
4            6         6         5  ...         2         1         3
...        ...       ...       ...  ...       ...       ...       ...
3995         4         5         4  ...         1         2         3
3996         3         3         3  ...         2         1         3
3997         4         3         5  ...         2         2         3
3998         3         4         3  ...         2         2         3
3999         4         3         3  ...         2         2         3

[4000 rows x 331 columns]

In [ ]:
# jepum_cat = [
# '시사, 사회 뉴스',
# '부동산, 증권, 금융',
# '연예, 오락, 영화',
# '요리, 육아, 생활정보',
# '건강, 의학',
# '퀴즈, 게임',
# '스포츠',
# '쇼핑',
# '자동차',
# '기타'           
# ]
# jepum_cat

In [55]:
mcr_raw_quest_copy[mcr_raw_quest_copy.항목분류=='제품 광고 관심도'].항목ID.head(3)

1249    I_001
1250    I_002
1251    I_012
Name: 항목ID, dtype: object

### 제품별 광고 관심도 추출

In [56]:
jepum_adver_cat = mcr_raw_quest_copy[mcr_raw_quest_copy.항목분류=='제품 광고 관심도'].항목설명.apply(lambda x: str(x).split('-')[-1])
jepum_adver_cat

1249      휴대폰 단말기 광고
1250     이동통신 서비스 광고
1251         골프웨어 광고
1252       아웃도어의류 광고
1253       스포츠캐주얼 광고
            ...
1310       뷰티디바이스 광고
1311        섬유유연제 광고
1312           우유 광고
1313           카페 광고
1314        햄버거/샌드위치
Name: 항목설명, Length: 66, dtype: object

In [57]:
jepum_adver_df = mcr_raw_answer[mcr_raw_quest_copy[mcr_raw_quest_copy.항목분류=='제품 광고 관심도'].항목ID]
jepum_adver_df.columns = jepum_adver_cat
jepum_adver_df.head(3)

항목설명   휴대폰 단말기 광고   이동통신 서비스 광고   골프웨어 광고  ...   우유 광고   카페 광고   햄버거/샌드위치
0               2             5         3  ...       4       4          1
1               2             2         2  ...       4       3          3
2               5             4         5  ...       6       5          4

[3 rows x 66 columns]

In [58]:
jepum_adver_df.isnull().sum() # null값은 없음

항목설명
 휴대폰 단말기 광고     0
 이동통신 서비스 광고    0
 골프웨어 광고        0
 아웃도어의류 광고      0
 스포츠캐주얼 광고      0
               ..
 뷰티디바이스 광고      0
 섬유유연제 광고       0
 우유 광고          0
 카페 광고          0
 햄버거/샌드위치       0
Length: 66, dtype: int64

In [59]:
jepum_adver_df.describe()

항목설명    휴대폰 단말기 광고   이동통신 서비스 광고  ...        카페 광고     햄버거/샌드위치
count   4000.00000   4000.000000  ...  4000.000000  4000.000000
mean       3.30325      3.289500  ...     3.047000     2.833500
std        1.03974      1.083736  ...     1.092286     1.057619
min        1.00000      1.000000  ...     1.000000     1.000000
25%        3.00000      3.000000  ...     2.000000     2.000000
50%        3.00000      3.000000  ...     3.000000     3.000000
75%        4.00000      4.000000  ...     4.000000     4.000000
max        6.00000      6.000000  ...     6.000000     6.000000

[8 rows x 66 columns]

### '영향력'을 묻는 문항 추출

In [60]:
temp = mcr_raw_quest_copy.항목설명.apply(lambda x: True if '영향력' in str(x) else False)
temp = temp[temp==1].index
mcr_impact_quest = mcr_raw_quest.iloc[temp]
mcr_impact_quest_id = mcr_impact_quest.항목ID
mcr_impact_quest

             항목ID  ...                                     항목설명
1371  J_01_02_014  ...          주거래 은행 선택 시, 광고의 영향력은 어느 정도입니까?
1403  J_01_04_014  ...            신용카드 선택 시, 광고의 영향력은 어느 정도입니까?
1438  J_01_05_009  ...    모바일 간편결제 브랜드 선택 시, 광고의 영향력은 어느 정도입니까?
1473  J_02_01_008  ...             휴대폰 선택 시, 광고의 영향력은 어느 정도입니까?
1526  J_02_04_012  ...           이동통신사 선택 시, 광고의 영향력은 어느 정도입니까?
...           ...  ...                                      ...
3352  J_27_01_011  ...          모바일 게임 선택 시, 광고의 영향력은 어느 정도입니까?
3383  J_27_03_007  ...          웹툰 플랫폼 선택 시, 광고의 영향력은 어느 정도입니까?
3427  J_28_01_022  ...     서비스 앱을 선택하실 때 광고가 미치는 영향력은 어느 정도입니까?
3472  J_28_03_007  ...    구인구직 서비스 브랜드 선택 시, 광고의 영향력은 어느 정도입니까?
3504  J_28_04_006  ...  부동산 중개 서비스 브랜드 선택 시, 광고의 영향력은 어느 정도입니까?

[64 rows x 5 columns]

In [61]:
mcr_impact_answer = mcr_raw_answer.loc[:,mcr_impact_quest_id]
mcr_impact_answer.describe() # null값이 다수 존재함

       J_01_02_014  J_01_04_014  ...  J_28_03_007  J_28_04_006
count  3620.000000  3463.000000  ...   252.000000   167.000000
mean      3.315746     3.331504  ...     3.551587     3.688623
std       0.838112     0.798148  ...     0.768735     0.590121
min       1.000000     1.000000  ...     1.000000     2.000000
25%       3.000000     3.000000  ...     3.000000     3.000000
50%       3.000000     3.000000  ...     4.000000     4.000000
75%       4.000000     4.000000  ...     4.000000     4.000000
max       5.000000     5.000000  ...     5.000000     5.000000

[8 rows x 64 columns]

### '영향을 미쳤던' 정보 채널 추출

In [119]:
temp = mcr_raw_quest_copy.항목설명.apply(lambda x: True if '휴대폰 선택 시, 영향을 미쳤던' in str(x) else False)
temp = temp[temp==1].index
mcr_impact_quest_phone = mcr_raw_quest.iloc[temp]
mcr_impact_quest_phone_id = mcr_impact_quest_phone.항목ID
mcr_impact_quest_phone.head()

               항목ID  ...                                항목설명
1474  J_02_01_009#1  ...  휴대폰 선택 시, 영향을 미쳤던 정보채널을 모두 골라주십시오.
1475  J_02_01_009#2  ...  휴대폰 선택 시, 영향을 미쳤던 정보채널을 모두 골라주십시오.
1476  J_02_01_009#3  ...  휴대폰 선택 시, 영향을 미쳤던 정보채널을 모두 골라주십시오.
1477  J_02_01_009#4  ...  휴대폰 선택 시, 영향을 미쳤던 정보채널을 모두 골라주십시오.
1478  J_02_01_009#5  ...  휴대폰 선택 시, 영향을 미쳤던 정보채널을 모두 골라주십시오.

[5 rows x 5 columns]

In [121]:
mcr_impact_answer_phone = mcr_raw_answer.loc[:,mcr_impact_quest_phone_id]
mcr_impact_answer_phone.describe()

       J_02_01_009#1  J_02_01_009#2  ...  J_02_01_009#12  J_02_01_009#13
count    3994.000000    3139.000000  ...             0.0             0.0
mean        4.374061       5.498885  ...             NaN             NaN
std        12.666059       7.213196  ...             NaN             NaN
min         1.000000       1.000000  ...             NaN             NaN
25%         1.000000       2.000000  ...             NaN             NaN
50%         1.000000       2.000000  ...             NaN             NaN
75%         1.000000       9.000000  ...             NaN             NaN
max        99.000000      98.000000  ...             NaN             NaN

[8 rows x 13 columns]

> 정리

In [62]:
jepum_adver_df.iloc[:,0] # 고객의 휴대폰 단말기 광고 관심도

0       2
1       2
2       5
3       2
4       5
       ..
3995    4
3996    3
3997    5
3998    3
3999    2
Name:  휴대폰 단말기 광고, Length: 4000, dtype: int64

In [63]:
mcr_impact_answer['J_02_01_008'] # 휴대폰 선택시 광고가 제품 선택여부에 주는 영향력

0       1.0
1       4.0
2       4.0
3       3.0
4       3.0
       ...
3995    4.0
3996    4.0
3997    4.0
3998    4.0
3999    4.0
Name: J_02_01_008, Length: 4000, dtype: float64

In [122]:
mcr_impact_answer_phone.mean() # 휴대폰 선택시 영향을 미친 정보 채널 (효과적이었던 광고매체)

J_02_01_009#1      4.374061
J_02_01_009#2      5.498885
J_02_01_009#3      9.431770
J_02_01_009#4     10.567091
J_02_01_009#5     11.070652
J_02_01_009#6     11.305714
J_02_01_009#7     11.844444
J_02_01_009#8     12.753247
J_02_01_009#9     15.416667
J_02_01_009#10    12.000000
J_02_01_009#11          NaN
J_02_01_009#12          NaN
J_02_01_009#13          NaN
dtype: float64

In [ ]:
for i in mcr_impact_quest_phone_id:
  print(i, mcr_raw_info[mcr_raw_info.항목ID==i].항목코드, mcr_raw_info[mcr_raw_info.항목ID==i].항목코드명)
  mcr_impact_answer_phone
#mcr_raw_info.항목ID==i